<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
<link rel="stylesheet" href="/style.css"></link>
<!DOCTYPE html>
<html lang="en">
<head></head>
<body class="container">
<header>
	<div>
		<span>username todo</span>
	</div>
   <h1>Chat App</h1>
</header>
<div class="container">
<div class="chat-controls">
	<input class="input user" id="username" />
	<button class="send-button" id="send_username">change username</button>
</div>
<div class="chatroom" id="chatroom"></div>
<div class="chat-controls">
	<input class="input input-message" id="message" />
	<button class="send-button" id="send_message" >send message</button>
</div>
</div>
<footer></footer>
<script src='https://code.jquery.com/jquery-latest.min.js'></script>
<script src='chat.js'></script>
</body>
</html>