h1, button, input {
	font-family: 'Lato', sans-serif;
	color: white;
}
h1 {
	text-align: center;
}
header, button {
	background-color: #4E21C1;
}
button {
	padding: 5px 10px;
	border-radius: 3px;
}
body {
	margin: 0;
}
.container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.input {
	padding: 3px 8px;
}
.input-message {
	width: 80%;
}
.send-button {
	margin-left: 8px;
}
.chatroom {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.chat-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}